<div layout="row">
    <div class="lg-layer-back-1 decoration-background-bar md-accent-bg"></div>
    <div class="lg-layer-center" layout="column" layout-padding flex-offset="15" flex="70" layout-align="center">
        <party-add-button ng-show="partiesList.isLoggedIn"></party-add-button>

        <div flex layout="row" class="header" layout-padding>
            <div flex="30" layout="column">
                <div flex="grow" layout="row">
                    <md-icon flex class="lg-pos-rel lg-posli-55 lg-posti-15 lg-fsz-45" style="color: #DC4A38;">{{partiesList.getIcon('tie')}}</md-icon>
                    <h2 flex="grow" class="md-display-1">Parties</h2>
                </div>
                <span class="md-caption">Meet everyone!</span>
            </div>
            <div flex="70" layout="row" layout-align="center center" layout-margin>
                <md-input-container flex>
                    <md-icon class="lg-posli-25" md-svg-icon="action:ic_search_24px"></md-icon>
                    <div>
                        <label>Search by Name</label>
                        <input ng-model="partiesList.searchText">
                    </div>
                </md-input-container>
                <div layout="column" layout-align="center center">
                    <parties-sort flex="nogrow" class="form-group lg-dimh-95" on-change="partiesList.sortChanged(sort)" property="name" order="1"></parties-sort>
                </div>
            </div>
        </div>

        <div layout="column" layout-gt-sm="row">
            <div flex="50">
                <md-card dir-paginate="party in partiesList.parties | itemsPerPage: partiesList.perPage" total-items="partiesList.partiesCount">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline" ui-sref="partyDetails({ partyId: party._id })">
                        {{party.name}}
                        <party-remove party></party-remove>
                        </span>
                            <span class="md-subhead"> {{party.description}} </span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <party-rsvps-list rsvps="party.rsvps"></party-rsvps-list>

                        <party-unanswered party="party" ng-if="!party.public"></party-unanswered>
                        <div ng-if="party.public">
                            Everyone is invited
                        </div>

                        <party-creator party="party"></party-creator>
                    </md-card-content>
                    <md-card-actions>
                        <party-rsvp party="party" ng-show="partiesList.isLoggedIn"></party-rsvp>
                        <div ng-hide="partiesList.isLoggedIn">
                            <i>Sign in to RSVP for this party.</i>
                        </div>
                    </md-card-actions>
                </md-card>
                <dir-pagination-controls on-page-change="partiesList.pageChanged(newPageNumber)"></dir-pagination-controls>
            </div>
        </div>
        <div flex="50">
            <parties-map parties="partiesList.parties"></parties-map>
        </div>
    </div>
</div>
